* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ed135a;
    --light-color: #ff5c86;
    --dark-color: #b30031;
    --bg-color: #ff5c8644;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    width: 300px;
    height: 150px;
    border: 1px solid var(--primary-color);
    font: italic 1.5rem serif;
    font-weight: 500;
    /* box-shadow: 0px 0px 10px black; */
    /* background-color: var(--light-color); */
    /* color: #fff; */
    padding: 20px;
    user-select: none;
}