*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

div {
    height: 100px;
    width: 400px;
    padding: 16px;
    border: 2px solid black;
}